.dropdown {
  display: none;
  position: absolute;
  min-width: 100%;
  z-index: 900;
  left: 0;
  top: 2.4rem;
  background: $day;
  color: $primary;
  border: 1px solid $primary;
  border-top: none;
  font-size: 1rem;
  line-height: 1rem; 
  box-shadow: 0px 3px 3px 1px rgba($night, 0.2);
}

.dropdown__list-item {
  position: relative;
  display: flex;
  padding: 0.5rem 0;
  border-bottom: 1px solid $primary;
}

.dropdown__text {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
}

.dropdown__text-type-small {
  padding-left: 2rem;
  font-size: 1rem;
  color: rgba($primary, 0.5);
}

.dropdown__text:hover{
  background: $primary;
  color: $day;
}

li:nth-child(2n).dropdown__list-item {
  border: none;
  padding-bottom: 0;
}

li:nth-child(2n+1).dropdown__list-item {
  padding-top: 0;
}

li:first-child.dropdown__list-item {
  padding-top: 0.5rem;
}

li:last-child.dropdown__list-item {
  border: none;
  padding-bottom: 0.5rem;
}
