.dropdown {
  display: none;
  position: absolute;
  min-width: 100%;
  z-index: 900;
  left: 0;
  top: 4rem;
  background: $day;
  color: $primary;
  border: 1px solid $primary;
  border-top: none;
}

.dropdown__list-item {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid $primary;
}

li:last-child.dropdown__list-item {
  border: none;
}