.dropdown {
  display: none;
  position: absolute;
  min-width: 100%;
  z-index: 900;
  left: 0;
  top: 2.4rem;
  padding: 0.5rem 0;
  background: $day;
  color: $dark;
  border: 1px solid $dark;
  border-top: none;
  font-size: 1rem;
  line-height: 1rem; 
  box-shadow: 0px 3px 3px 1px rgba($night, 0.2);
}

.dropdown__list-item {
  position: relative;
  display: flex;
}

.dropdown__text {
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
}

.dropdown__text-type-small {
  padding-left: 2rem;
  font-size: 1rem;
  color: rgba($heavy, 0.5);
}

.dropdown__text:hover{
  background: $dark;
  color: $day;
  cursor: default;
}

.dropdown__hr {
  height: 0;
  width: 100%;
  margin: 0.5rem 0;
  border: none;
  border-bottom: 1px solid $dark;
}
