.folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  padding: 1rem;
}

.folder__image {
  width: 4rem;
  heigth: 4rem;
}

.folder__text {
  text-align: center;
  word-break: break-all; 
}