.folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  padding: 1rem;
}

.folder__image {
  width: 4rem;
  heigth: 4rem;
}

.folder__text {
  text-align: center;
  word-break: break-all; 
}

.listed-folder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid $tertiary;
}

.listed-folder__image {
  width: 2rem;
  height: 2rem;
}

.listed-folder__name {
  width: 100%;
  padding: 0 2rem;
  word-break: break-all; 
  flex: 1 1;
}

.listed-folder__date {
}