.folder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  padding: 2rem;
}

.folder__image {
  width: 4rem;
  heigth: 4rem;
}

.folder__text {
  text-align: center;
}