.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  padding: 1rem;
}

.item__image {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.item__text {
  display: block;
  padding: 0.1rem 0.6rem;
  max-width: 100%;
  max-height: 2.2rem;

  border-radius: 5px;

  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: bold;
  text-align: center;

  word-break: break-all; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background: rgba($dark, 0.1);
}

.listed-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 1px dashed $light;
}

.listed-item:hover {
  background: $tertiary;
  cursor: pointer;
}

.listed-item__image {
  width: 2rem;
  height: 2rem;
}

.listed-item__name {
  width: 100%;
  padding: 0 1rem;
  word-break: break-all; 
  flex: 1 1;
}

.listed-item__date {
}