.menu {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
}

.menu__list-item {
  padding: 1rem;
}

.menu__search {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.menu__searchbar {
  flex: 1 1;
  height: 100%;
  width: 100%;
  font-size: 1rem; 
  background: $secundary;
  color: white;
  -webkit-appearance: none;
  border: none;
}

.menu__search-icon {
  height: 2rem;
}

.menu__user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.menu__user-notice {
  padding-right: 1rem;
}

.menu__user {

}
