.menu {
  position: relative;
  z-index: 1000;
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 30px 5px rgba($night, 0.2);
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__list-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 2.4rem; 
}

.menu__list-item:hover .dropdown{
  display: block;
}

.menu__search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 22rem;
  height: 2.4rem;
}


.menu__searchbar {
  flex: 1 1;
  padding: 0 1rem;
  font-size: 1rem; 
  line-height: 1rem; 
  background: $secundary;
  color: white;
  -webkit-appearance: none;
  border: none;
}

.menu__searchbar::placeholder {
  color: $day;
}

.menu__search-icon {
  height: 2rem;
  padding-right: 0.5rem;
}

.menu__search-dropdown-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 100%;
  background: $day;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
  color: $primary;
}

.menu__search-dropdown-button:hover .dropdown{
  display: block;
}

.menu__search-dropdown-button-arrow {
  width: 40%;
  height: 40%;
}

.menu__user-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1rem; 
  line-height: 1rem; 
}

.menu__user-container:hover .dropdown{
  display: block;
}

.menu__user-notice {
  padding-right: 1rem;
}
