.menu {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__list-item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 1.2rem; 
}

.menu__list-item:hover .dropdown{
  display: block;
}

.menu__search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 300px;
  padding: 1rem;
}

.menu__search:hover .dropdown{
  display: block;
}

.menu__searchbar {
  flex: 1 1;
  height: 100%;
  font-size: 1.2rem; 
  line-height: 1.2rem; 
  background: $secundary;
  color: white;
  -webkit-appearance: none;
  border: none;
}

.menu__searchbar::placeholder {
  color: $day;
}

.menu__search-icon {
  height: 2rem;
}

.menu__user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.2rem; 
  line-height: 1.2rem; 
}

.menu__user-notice {
  padding-right: 1rem;
}

.menu__user {

}
