.off {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center; 
  width: 100%;
  height: 100%;
  padding: 3rem 3rem 6rem 3rem;
  background: black;
}

.off__reboot {
  display: flex;
  justify-content: center;
  width: 10rem;
  padding: 1rem 6rem;
  color: $day;
  border: 1px solid rgba($day, 0.1);
  border-radius: 1rem;
  cursor: pointer;
}

.off__reboot:hover {
  background: linear-gradient(70deg, rgba($day, 0), rgba($day, 0) 45%,rgba($day, 0.2) 50%, rgba($day, 0) 55%, rgba($day, 0) 100%);
  background-size: 400% 400%;
  animation: transparantWhite 1.5s ease infinite;
}

@keyframes transparantWhite { 
  0%{background-position:100% 50%}
  100%{background-position:0% 50%}
}