.shutdown {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 100%;
  height: 100%;
  padding-top: 3rem;
}

.shutdown__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35rem;
  padding: 2rem 2rem 2rem 2rem;
  background: $day;
  border: 1px solid $light;
  border-radius: 10px;
}