// Containers

.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 500;
  box-shadow: 0px 0px 30px 5px rgba($night, 0.2);
  border-radius: 5px;
}

.window__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

// Name of this needs to change..
.react-resizable-handle {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

// titlebar

.window__titlebar {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.window__titlebar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  height: 2rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.window__titlebar-text {
  color: $day;
}

.window__titlebar-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-top-right-radius: 5px;
}

// Containers

.window__content {
  width: 100%;
  height: calc(100% - 2rem);
}

.window__content-inner {
  width: 100%;
  height: 100%;
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}


// Menubar

.window__menubar {
  width: 100%;
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $secundary;
  border-bottom: 1px solid $dark;
}

.window__menubar-path {
  width: 60%;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}

.window__menubar-search {
  justify-content: space-between;
}


.window__search-open-all {
  padding: 0.5rem;
  background: $primary;
  color: $day;
  border: none;
  cursor: pointer;
}

.window__search-open-all:hover {
  background: $secundary;
}




// Sidebar

.window__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  height: calc(100% - 3rem);
  padding: 1rem;
  border-right: 1px solid $dark;
  background: $gray;
  overflow: scroll;
}

.window__sidebar-text {
  padding-bottom: 5px;
  font-weight: bold;
}


// Body

.window__body {
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 80%;
  height: calc(100% - 3rem);
  overflow-y: scroll;
}