.window {
  position: absolute;
  left: 100px;
  top: 100px;
  width: 600px;
  height: 400px;
  z-index: 500;
}

.window__header {
  height: 80px;
}

.window__body {
  display:  flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start; 
  height: 300px;
}

.window__footer {
  height: 20px;
}

.window__close-button {
  width: 10px;
  height: 10px;
}