.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 10px;

  background: black;
  color: white;
}

.navigation ul {
  display: none;
}