#dndfolder {
  width: 100px;
  height: 100px;
  margin: 10px;
  float: right;  
  /*   background-color: rgba(0,0,0,0.02);
border: rgba(0,0,0,0.3) 1px dotted; */  
  text-align: center;
  color: white;	
  border-radius: 0.75em;
  padding: 20px;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}