/* MENUBAR */
	/* Main Navigation */
	#nav {
		position:relative;
		width: 1000px;
		margin:0; 
		padding:0;
	}

	ul#navigation {
		margin:0px;
		position:relative;
		float:left;
		padding-left: 0px;
	}

	ul#navigation li {
		display:inline;
		margin:0;
		padding:0;
		float:left;
		position:relative;
	}
	
	ul#navigation li.menu_os {
		font-family: 'Roboto', Arial, Sans-serif;
		font-weight: 700;
		letter-spacing: 0.05em;
		font-size: 1.1em;
		color: #F8F8F8;
		padding: 5px 17px 7px 35px;

	}

	ul#navigation li a {
		color:#F8F8F8;
		text-decoration:none;
		display:inline-block;
		background: transparant;
		padding: 6px 17px 7px;
		-webkit-transition:color 0.2s linear, background 0.2s linear;	
		-moz-transition:color 0.2s linear, background 0.2s linear;	
		-o-transition:color 0.2s linear, background 0.2s linear;	
		transition:color 0.2s linear, background 0.2s linear;	
	}

	ul#navigation li a:hover {
		background:#F8F8F8;
		color:#000000;
	}

	ul#navigation li a.first {
		border-left: 0 none;
	}

	ul#navigation li a.last {
		border-right: 0 none;
	}

	ul#navigation li:hover > a {
		background:#F8F8F8;
		color: #000000;
	}


/************ DROP-DOWN ************/

	/* Drop-Down Navigation */
	ul#navigation li:hover > ul
	{
	/*these 2 styles are very important, 
	being the ones which make the drop-down to appear on hover */
		visibility:visible;
		opacity:1;
	}

	ul#navigation ul, ul#navigation ul li ul {
		list-style: none;
		margin: 0;
		padding: 0;    
	/*the next 2 styles are very important, 
	being the ones which make the drop-down to stay hidden */
		visibility:hidden;
		opacity:0;
		position: absolute;
		z-index: 99999;
		width:200px;
		color:#f8f8f8;
	/*	box-shadow:1px 1px 3px #ccc; */
	/* css3 transitions for smooth hover effect */
		-webkit-transition:opacity 0.2s linear, visibility 0.2s linear; 
		-moz-transition:opacity 0.2s linear, visibility 0.2s linear; 
		-o-transition:opacity 0.2s linear, visibility 0.2s linear; 
		transition:opacity 0.2s linear, visibility 0.2s linear; 	
	}

	ul#navigation ul {
		top: 32px;
		left: 0xp;
	}

	ul#navigation ul li ul {
		top: -2px;
		left: 200px; /* strong related to width:180px; from above */
	}

	ul#navigation ul li {
		background-color: #000000;
		clear:both;
		width:100%;
	}
	
	ul#navigation ul li:first-child {
		padding-top: 2px;	
	}
	
	ul#navigation ul li:last-child {
		-webkit-border-bottom-right-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-bottomright: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
		padding-bottom: 2px;
	}	

	ul#navigation ul li a {
		background:none;
		padding:7px 15px;
		text-decoration:none;
		display:inline-block;
		border:0 none;
		float:left;
		clear:both;
		width:170px;
	}
	
	ul#navigation ul li ul li:first-child {
		-webkit-border-top-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		border-top-right-radius: 3px;
	}