.overlay {
/*	position:absolute;
	top:0;
	left:0;
	z-index:10;
	height:100%;
	width:100%;
	background:#000;
	filter:alpha(opacity=60);
	-moz-opacity:.60;
	opacity:.60;
	display:none;
*/
}

.windowbase {
	position:fixed!important;
	position:absolute;
	height:50%;
	width:60%;
	margin:0 0px 0px -20%;
	top: 25%;
	left: 40%;
	display:none;
	z-index:1002;
	padding:0px;
}	