// Menubar
.browser__menubar {
  position: relative;
  width: 100%;
  height: 3rem;
  background: $medium;
  border-bottom: 1px solid $dark;
}

.browser__menubar-tabs {
  position: absolute;
  display: flex;
  top: -1.7rem;
  left: 10rem;
  max-width: calc(100% - 10rem);
}

.browser__menubar-tab {
  height: 1.7rem;
  margin: 0 0.1rem;
  padding: 0.5rem;
  line-height: 0.7rem;
  background: $heavy;
  border-radius: 2px 2px 0 0;
}

.browser__menubar-tab-active {
  background: $light;
}

.browser__menubar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

.browser__menubar-path-container {
  width: 100%;
}

.browser__menubar-path {
  margin-left: 0rem;
  margin-right: 1rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}

.browser__menubar-icon-group {
  display: flex;
}

.browser__menubar-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  margin-right: 1rem;
  transition: 0.1s ease all;
}

.browser__menubar-icon-img {
  width: 100%;
  height: 100%;
}

.browser__menubar-icon:hover {
  padding: 0rem;
}

// Body

.browser__body {
  width: 100%;
  height: calc(100% - 3rem);
}

.browser__iframe {
  width: 100%;
  height: 100%;
  border: none;
}