// Menubar
.explorer__menubar {
  width: 100%;
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $medium;
  border-bottom: 1px solid $dark;
}

.explorer__menubar-path {
  margin-left: 0rem;
  margin-right: 1rem;
  width: 22rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}

.explorer__menubar-icon-group {
  display: flex;
}

.explorer__menubar-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  margin-right: 1rem;
  transition: 0.1s ease all;
}

.explorer__menubar-icon-img {
  width: 100%;
  height: 100%;
}

.explorer__menubar-icon:hover {
  padding: 0rem;
}


// Sidebar
.explorer__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 12rem;
  height: calc(100% - 3rem);
  padding: 1rem;
  border-right: 1px solid $dark;
  background: $light;
}

.explorer__sidebar-text {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  font-weight: bold;
  padding: 0.25rem;
}

.explorer__sidebar-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

// Body
.explorer__body {
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  width: calc(100% - 12rem);
  height: calc(100% - 3rem);
  overflow-y: scroll;
}