.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: $light;
}

.modal__content {
  padding-bottom: 1rem;
}

.modal__button {
  width: 25%;
  height: 3rem;
  color: $day;
  background: $dark;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.modal__button:hover {
  background: linear-gradient(70deg, rgba($day, 0), rgba($day, 0) 45%,rgba($day, 0.2) 50%, rgba($day, 0) 55%, rgba($day, 0) 100%), $dark;
  background-size: 400% 400%;
  animation: flash 1.5s ease infinite;
}

@keyframes flash { 
  0%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
