.modal__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: $light;
}

.modal__content {
  padding-bottom: 1rem;
}

.modal__button {
  width: 25%;
  height: 3rem;
  color: $day;
  background: $primary;
  border: none;
  cursor: pointer;
}

.modal__button:hover {
  background: $secundary;
}