// Menubar

.pdf__menubar {
  width: 100%;
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $medium;
  border-bottom: 1px solid $dark;
}

.pdf__menubar-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  margin-right: 1rem;
  transition: 0.1s ease all;
}

.pdf__menubar-icon-img {
  width: 100%;
  height: 100%;
}

.pdf__menubar-icon:hover {
  padding: 0rem;
}

// Sidebar

.pdf__sidebar {
  height: calc(100% - 3rem);
  width: 12rem;
  padding: 2rem;
  background: $light;
  overflow-y: scroll;
}

// Body

.pdf__body {
  width: calc(100% - 12rem);
  height: calc(100% - 3rem);
  padding: 2rem;
  background: $light;
  overflow-y: scroll;
}

.pdf__page {
  width: 100%;
  margin-bottom: 2rem;
  box-shadow: 0px 0px 30px 5px rgba($night, 0.2);
}