// Menubar

.search__menubar {
  width: 100%;
  padding: 0 1rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $secundary;
  border-bottom: 1px solid $dark;
}

.search__menubar-path {
  margin-left: 0rem;
  margin-right: 1rem;
  width: 22rem;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}



.search__menubar-open-all {
  padding: 0.5rem;
  background: $primary;
  color: $day;
  border: none;
  cursor: pointer;
}

.search__menubar-open-all:hover {
  background: $secundary;
}

.search__menubar-icon-group {
  display: flex;
}

.search__menubar-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  margin-right: 1rem;
  transition: 0.1s ease all;
}

.search__menubar-icon-img {
  width: 100%;
  height: 100%;
}

.search__menubar-icon:hover {
  padding: 0rem;
}


// Sidebar

.search__sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 12rem;
  height: calc(100% - 3rem);
  padding: 1rem;
  border-right: 1px solid $dark;
  background: $gray;
}

.search__sidebar-header {
  display: flex;
  padding-bottom: 5px;
  font-weight: bold;
}

.search__sidebar-ul {
  display: flex;
  flex-direction: column;
  list-style: square inside;
  padding-bottom: 5px;
}

.search__sidebar-li {
  padding-bottom: 5px;
}

.search__sidebar-icon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  margin-right: 1rem;
}

// Body

.search__body {
  display:  flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  width: calc(100% - 12rem);
  height: calc(100% - 3rem);
  overflow-y: scroll;
}