// List of possible colors:
$lightblue: rgba(229, 240, 249, 1);
$mediumblue: rgba(147, 201, 229, 1);
$darkblue: rgba(16, 83, 121, 1);
$red: rgba(205, 31, 34, 1);

$white: rgba(255, 255, 255, 1);
$lightgray: rgba(200, 200, 200, 1);
$gray: rgba(120, 120, 120, 1);
$heavygray: rgba(75, 75, 75, 1);
$darkgray: rgba(39, 39, 39, 1);
$black: rgba(0, 0, 0, 1);
$black-hover: rgba(0,0,0,0.9);

$invader: rgba(#ffd900,1);

// New defs
$green: rgba(91, 142, 142,1);
$darkbrown: rgba(60, 60, 45,1);
$lightbrown: rgba(186,186,185,1);

// Definitions used troughout the stylesheets:
$primary: $darkblue;
$secundary: $mediumblue;
$tertiary: $lightblue;

$complementary: $red;

$day: $white;
$light: $lightgray;
$medium: $gray;
$heavy: $heavygray;
$dark: $darkgray;
$night: $black;
