.layout__OS {
  display: flex;
  
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.layout__overlay {
  position: absolute;
  width: 100%;
  height: 100%; 

  z-index: 2000;
}

.layout__desktop {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  background: $heavy;
}

.layout__desktop-header {
  display: flex;
  flex-direction: column;
  flex: 0 0 2.4rem;
}

.layout__desktop-main {
  position: relative;
  height: calc(100% - 2.4rem);
}