.layout__desktop {
  background: $tertiary;
}

.desktop {
  background-image: url("../images/background.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.menu {
  background: $primary;
  color: white;
}

.menu__search {
  background: $secundary;
  color: white;
}

.menu__user-notice {
  color: $secundary;
}

.login {
  background-image: url("../images/background.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $tertiary;
}

.shutdown {
  background-image: url("../images/background.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-origin: content-box;
  background-color: $tertiary;
}

.login__details {
  background: $day;
  border: 1px solid $primary;
  box-shadow: 3px 3px 0px 0px rgba($primary,0.5);
}

.login__submit:hover {
  background: $secundary;
}

.login__submit {
  border: 1px solid $light;
  background: $primary;
  color: $day;
}

.search {
  background: rgba($secundary, 0.5);
}

.window {
}

.window__titlebar {
  background: $primary;
}

.window__titlebar-close-button {
  background: $secundary;
  color: white;
}

.window__content-inner {
  background: $day;
}

.window__footer {
  background: $primary;
}

.folder__text {
  color: $primary;
}