.desktop {
  background: $tertiary;
}

.menu {
  background: $primary;
  color: white;
}

.menu__search {
  background: $secundary;
  color: white;
}

.menu__user-notice {
  color: $secundary;
}

.login {
  background: $tertiary;
}

.search {
  background: rgba($secundary, 0.5);
}

.window {
  border: 1px solid $primary;
}

.window__header {
  background: $primary;
}

.window__body {
  background: $day;
}

.window__footer {
  background: $primary;
}