.desktop {
  background: $tertiary;
}

.menu {
  background: $primary;
  color: white;
}

.menu__search {
  background: $secundary;
  color: white;
}

.menu__user-notice {
  color: $secundary;
}

.login {
  background: $tertiary;
}

.search {
  background: rgba($secundary, 0.5);
}

.window {
}

.window__header {
  background: $primary;
}

.window__close-button {
  background: $secundary;
  color: white;
}

.window__body {
  background: $day;
  border-right: 1px solid $primary;
  border-bottom: 1px solid $primary;
  border-left: 1px solid $primary;

}

.window__footer {
  background: $primary;
}