.layout__desktop {
  width: 100%;
  height: 100%;
  overflow: hidden;

  background: $yellow url(../Images/SI_Logo.svg) no-repeat;
  background-size: 60%; 
  background-attachment: fixed;
  background-position: 3% 98%;
}

.layout__navigation {

}